In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data=pd.read_csv("Superstore.csv")

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Return Status  9994 non-null   object
 3   Order Date     9994 non-null   object
 4   Ship Date      9994 non-null   object
 5   Ship Mode      9994 non-null   object
 6   Customer ID    9994 non-null   object
 7   Customer Name  9994 non-null   object
 8   Segment        9994 non-null   object
 9   Country        9994 non-null   object
 10  City           9994 non-null   object
 11  State          9994 non-null   object
 12  Postal Code    9994 non-null   int64
 13  Region         9994 non-null   object
 14  Person         9994 non-null   object
 15  Product ID     9994 non-null   object
 16  Category       9994 non-null   object
 17  Sub-Category   9994 non-null   object
 18  Product Name   9994 non-null   object
 19  Sales          9994 non-null   float64
 20  Quantity       9994 non-null   int64
 21  Discount       9994 non-null   float64
 22  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(17)
memory usage: 1.8+ MB

In [23]:
data.shape

(9994, 23)

In [24]:
data.head(10)

,Row ID,Order ID,Return Status,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Region,Person,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,No,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,South,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,No,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,South,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,No,6/12/16,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,West,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,No,10/11/15,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,South,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,No,10/11/15,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,South,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,No,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,West,Anna Andreadi,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,No,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,West,Anna Andreadi,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,No,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,West,Anna Andreadi,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,No,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,West,Anna Andreadi,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,No,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,West,Anna Andreadi,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [25]:
data.tail(10)

,Row ID,Order ID,Return Status,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Region,Person,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,No,5/17/15,5/23/15,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,...,East,Chuck Magee,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,9986,CA-2015-100251,No,5/17/15,5/23/15,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,...,East,Chuck Magee,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,9987,CA-2016-125794,No,9/29/16,10/3/16,Standard Class,ML-17410,Maris LaWare,Consumer,United States,...,West,Anna Andreadi,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,9988,CA-2017-163629,No,11/17/17,11/21/17,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,...,South,Cassandra Brandow,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,9989,CA-2017-163629,No,11/17/17,11/21/17,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,...,South,Cassandra Brandow,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,9990,CA-2014-110422,No,1/21/14,1/23/14,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,...,South,Cassandra Brandow,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,Yes,2/26/17,3/3/17,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,West,Anna Andreadi,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,Yes,2/26/17,3/3/17,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,West,Anna Andreadi,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,Yes,2/26/17,3/3/17,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,West,Anna Andreadi,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,No,5/4/17,5/9/17,Second Class,CC-12220,Chris Cortes,Consumer,United States,...,West,Anna Andreadi,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [13]:
# Ensure 'Order Date' is in datetime format
#errors='coerce' means, if a string that doesn’t match the specified format, it will replace that value with NaT (Not a Time)
data['Order Date'] = pd.to_datetime(data['Order Date'], format='%m/%d/%y', errors='coerce')

In [14]:
# Extract the year and month from 'Order Date'
data['Order Year-Month'] = data['Order Date'].dt.to_period('M')

In [15]:
# Group the data by 'Customer ID' and 'Order Year-Month'
customer_purchases_monthly = data.groupby(['Customer ID', 'Order Year-Month']).size().reset_index(name='Purchase Count')

In [16]:
# Pivot Table
customer_pivot_monthly = customer_purchases_monthly.pivot(index='Customer ID', columns='Order Year-Month', values='Purchase Count')

In [19]:
# Calculate retention by checking how many customers from one month made a purchase in the next month
retention_data_monthly = {}
months = customer_pivot_monthly.columns.tolist()

for i in range(len(months) - 1):
    current_month = months[i]
    next_month = months[i + 1]
    
    customers_current_month = customer_pivot_monthly[current_month].dropna().index
    customers_next_month = customer_pivot_monthly[next_month].dropna().index
    
    retained_customers = customers_current_month.intersection(customers_next_month)
    retention_rate_monthly = len(retained_customers) / len(customers_current_month) if len(customers_current_month) > 0 else 0
    
    retention_data_monthly[f'{current_month} -> {next_month}'] = round(retention_rate_monthly * 100, 2)

In [17]:
# Convert retention data to a DataFrame for better visualization
retention_df_monthly = pd.DataFrame(list(retention_data_monthly.items()), columns=['Month Transition', 'Retention Rate (%)'])

In [18]:
# Display the retention data for month-wise retention
retention_df_monthly

      Month Transition  Retention Rate (%)
0   2014-01 -> 2014-02                9.38
1   2014-02 -> 2014-03               14.81
2   2014-03 -> 2014-04                5.80
3   2014-04 -> 2014-05                9.38
4   2014-05 -> 2014-06                7.46
5   2014-06 -> 2014-07                6.35
6   2014-07 -> 2014-08               10.77
7   2014-08 -> 2014-09               14.29
8   2014-09 -> 2014-10               11.86
9   2014-10 -> 2014-11               12.00
10  2014-11 -> 2014-12               17.99
11  2014-12 -> 2015-01                4.48
12  2015-01 -> 2015-02                7.14
13  2015-02 -> 2015-03                5.56
14  2015-03 -> 2015-04                7.79
15  2015-04 -> 2015-05                8.70
16  2015-05 -> 2015-06                5.80
17  2015-06 -> 2015-07                7.35
18  2015-07 -> 2015-08                6.25
19  2015-08 -> 2015-09               15.62
20  2015-09 -> 2015-10                9.52
21  2015-10 -> 2015-11               17.72
22  2015-11 -> 2015-12               20.55
23  2015-12 -> 2016-01                7.80
24  2016-01 -> 2016-02                2.17
25  2016-02 -> 2016-03                7.14
26  2016-03 -> 2016-04               11.25
27  2016-04 -> 2016-05               12.05
28  2016-05 -> 2016-06               10.42
29  2016-06 -> 2016-07                8.89
30  2016-07 -> 2016-08               15.73
31  2016-08 -> 2016-09               22.09
32  2016-09 -> 2016-10               10.23
33  2016-10 -> 2016-11               20.00
34  2016-11 -> 2016-12               20.00
35  2016-12 -> 2017-01                7.64
36  2017-01 -> 2017-02                4.48
37  2017-02 -> 2017-03               11.32
38  2017-03 -> 2017-04               12.17
39  2017-04 -> 2017-05               21.10
40  2017-05 -> 2017-06               12.39
41  2017-06 -> 2017-07               11.86
42  2017-07 -> 2017-08               12.75
43  2017-08 -> 2017-09               27.88
44  2017-09 -> 2017-10               14.80
45  2017-10 -> 2017-11               23.53
46  2017-11 -> 2017-12               25.00

In [26]:
# Sorting 'Retention Rate (%)' in descending order
top_10_retention = retention_df_monthly.sort_values(by='Retention Rate (%)', ascending=False).head(10)

# Display the first 10 result (maximum)
top_10_retention

      Month Transition  Retention Rate (%)
43  2017-08 -> 2017-09               27.88
46  2017-11 -> 2017-12               25.00
45  2017-10 -> 2017-11               23.53
31  2016-08 -> 2016-09               22.09
39  2017-04 -> 2017-05               21.10
22  2015-11 -> 2015-12               20.55
33  2016-10 -> 2016-11               20.00
34  2016-11 -> 2016-12               20.00
10  2014-11 -> 2014-12               17.99
21  2015-10 -> 2015-11               17.72